<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TacticalOpsQuickJoin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TOQJ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TacticalOpsQuickJoin.Properties.Settings>
            <setting name="to340path" serializeAs="String">
                <value>./TO340/System/TacticalOps.exe</value>
            </setting>
            <setting name="to350path" serializeAs="String">
                <value>./TO350/System/TacticalOps.exe</value>
            </setting>
            <setting name="closeOnJoin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="masterservers" serializeAs="String">
                <value>master.333networks.com:28900
master.oldunreal.com:28900
master.newbiesplayground.net:28900
master.errorist.eu:28900</value>
            </setting>
            <setting name="to220path" serializeAs="String">
                <value>./TO220/System/TacticalOps.exe</value>
            </setting>
        </TacticalOpsQuickJoin.Properties.Settings>
        <TOQJ.Properties.Settings>
            <setting name="to340path" serializeAs="String">
                <value/>
            </setting>
            <setting name="to350path" serializeAs="String">
                <value/>
            </setting>
            <setting name="closeOnJoin" serializeAs="String">
                <value>False</value>
            </setting>
        </TOQJ.Properties.Settings>
    </userSettings>
</configuration>
